body{font-family: 'Raleway', sans-serif;}
img.imglogo {
    width: 39%;
    padding-top: 7px;
}
input[type=checkbox], input[type=radio] {
    margin: -2px 0 0;
    line-height: normal;
}


.dropdown-toggle {
    color: #33822c !important;
  }
header{border-bottom:5px solid #33822c;display:flex;align-items:center;}
header.headrow .head-midcol{    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 6px 0px;}
header.headrow .headingsec h4{color:#878787;font-weight:400;font-size:16px;}
header.headrow .headingsec h1{font-weight:800;font-size:40px;color:#616264;}
header.headrow .usersec h4{text-align:right;font-weight:bold;}
/* User name and logout related css */
/*.usernav {
    left:50%;
    margin-left:-150px;
    top:50px;
    position:absolute;
}*/
.usersec{display:block;width:100%;text-align:end;}
.usersec ul.usernav{list-style:none;width:100%;}
.usersec ul.usernav > li.userdropdown{border:none;float:right;}
.usersec ul.usernav li.userdropdown > a{font-size:18px;font-weight:bold;padding-right:10px;}
.usernav>li>a:hover, .usernav>li>a:focus, .usernav .open>a, .usernav .open>a:hover, .usernav .open>a:focus {
    background:#fff;
}
.userdropdown {
    background:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    /*width:300px; */   
}
.usernav .dropdown-menu>li>a {
    color:#428bca;
}
.userdropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:300px;
}
.userdropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.userdropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
/* User name and logout related css */
.loadDespatchRow{position:relative;}
/* Left Form Section */
.map-container{position:relative;}
/* .map-container #map{min-height:900px;} */
#map {
    height: 100vh;
}
.leaflet-left{display:none;}
.leaflet-bottom .leaflet-right{display:none;}
.leaflet-control-attribution{display:none;}


.loadDespatchRow .selectbtns{position:absolute; top:30px; left:30px;z-index:999;}
.loadDespatchRow .selectbtns .leftcollapsebtn{margin-bottom:15px;}
.loadDespatchRow .selectbtns .leftcollapsebtn img{width:35px;cursor:pointer;}
.loadDespatchRow .selectbtns div#leftcoltab .multiselect.dropdown-toggle.btn.btn-default{box-shadow: none;}

.loadDespatchRow .selectbtns div#leftcoltab ul.multiselect-container.dropdown-menu li a>label{font-weight:600;letter-spacing:0px;font-size:16px;}
.loadDespatchRow .selectbtns div#leftcoltab ul.multiselect-container.dropdown-menu li.active a>label{background-color:#fff;color:#2e4147;border-bottom:2px solid #42a6da;}
.loadDespatchRow .selectbtns div#leftcoltab ul.multiselect-container.dropdown-menu li a:hover{color:#fff;}
.loadDespatchRow .selectbtns div.formselect{padding:0;background-color:#8dcebfb0;  margin: 45px 0 0 -15px;
}
.loadDespatchRow .selectbtns div#leftcoltab .form-group{margin-bottom:0; display: flex; justify-content: space-between;}
.loadDespatchRow .selectbtns div#leftcoltab .form-group span.multiselect-native-select{padding-bottom:15px;display:block;}
/*.loadDespatchRow .selectbtns form .form-group span.multiselect-native-select::after{background-image:url("../images/line.png");content: "";}*/

.loadDespatchRow .selectbtns div#leftcoltab .form-group:first-child{padding-top:8px;}

.loadDespatchRow .selectbtns div#leftcoltab .form-group .btn-group{width:100% !important;}
.loadDespatchRow .selectbtns div#leftcoltab .form-group .btn-group.open .multiselect.dropdown-toggle.btn.btn-default{box-shadow:none;}
 .multiselect.dropdown-toggle.btn.btn-default{background-color:rgba(47, 152, 196, 0.1);color:#fff;font-size:18px;letter-spacing:1px;border-radius:0;display:flex;justify-content:space-between;align-items:center;font-weight:700;border:none;}

.loadDespatchRow .selectbtns div#leftcoltab .form-group .multiselect-native-select .btn-group:after{}
/* Border bottom */
.loadDespatchRow .selectbtns div#leftcoltab .form-group .multiselect-native-select .btn-group:before, 
.loadDespatchRow .selectbtns div#leftcoltab .form-group .multiselect-native-select .btn-group:after{content: "";position:absolute;bottom:-3px;left:5px;}
.loadDespatchRow .selectbtns div#leftcoltab .form-group .multiselect-native-select .btn-group:after{right:5px;height:2px;background-image:radial-gradient(#0e3657, transparent);}
/* Border Bottom End  */
/* Switch slider Section */
.switchSec{padding:0 12px;}
.switchSec .switchTitle{font-size:18px;font-weight:700;color:#fff;margin-top:10px;}
.switchSec .switch {position:relative;display:inline-block;width:60px;height:30px;}
.switchSec .switch input { opacity:0;width:0;height:0;}
.switchSec .slider {position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;-webkit-transition:.4s;transition:.4s;}
.switchSec .slider:before {position:absolute;content:"";height:22px;width:22px;left:4px;bottom:4px;background-color:white;-webkit-transition:.4s;transition:.4s;}
.switchSec input:checked + .slider {/*background-color: #2196F3;*/ background-color:#c3281c;}
.switchSec input:focus + .slider {box-shadow:0 0 1px #2196F3;}
.switchSec input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}
/* Rounded sliders */
.switchSec .slider.round {border-radius:34px;}
.switchSec .slider.round:before{border-radius:50%;}
/* Switch slider section end */



.multiselect.dropdown-toggle.btn.btn-default .caret{border-top:10px dashed;border-right: 7px solid transparent;
    border-left: 7px solid transparent;}
.multiselect-container>li>a>label{border-bottom:1px solid #fff;}
.multiselect-container>li>a>label.checkbox, .multiselect-container>li>a>label.radio{background-color:#616264;}
.multiselect-container>li>a>label>input[type=checkbox]{margin-top:9px;}
.dropdown-menu>li>a{font-size:16px;line-height:30px;color:#fff;}

.loadDespatchRow .selectbtns div#leftcoltab .form-group.formbtn{display:flex;justify-content:space-evenly;padding-bottom:22px;}
.loadDespatchRow .selectbtns div#leftcoltab .form-group.formbtn button{font-weight:900;padding:0px 16px;height:26px;border-radius:8px;}
.loadDespatchRow .selectbtns div#leftcoltab .form-group button span.multiselect-selected-text{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

/* Details Right Section */
.loadDespatchRow .geographydetailsrow{position:absolute; top:30px; right:30px;z-index:999;}
.geographydetailsrow .rightcollapsebtn{display:flex;justify-content:flex-end;margin-bottom:15px;}
.geographydetailsrow .rightcollapsebtn img{width:35px;cursor:pointer;}
.geographydetailsrow .detailsrightSec{border:5px solid #33822c;max-height:409px;overflow-y:scroll;background-color:rgb(255 255 255 / 82%);margin-top: 45px;}

.geographydetailsrow .detailsrightSec h2.geography-title{font-weight:800;font-size:18px;padding-left:15px;margin-bottom:15px;margin-top:10px;}

.toptable table{margin-bottom:0;}
.toptable table tbody tr{background:#464a4d;color:#fff;}
.geographydetailsrow .detailsrightSec .toptable thead tr th{color:#000;font-size:12px;text-align:center;border:1px solid #616264;}
.geographydetailsrow .detailsrightSec .toptable tbody tr td{color:#fff;font-size:16px;text-align:center;font-weight:500;padding:0;height:30px;line-height:30px;}

.geographydetailsrow .detailsrightSec .nodetablerow h2.nodes-title{font-weight:800;font-size:18px;margin-left:15px;margin-top:0;margin-bottom:0;border-bottom:2px solid #000;}
.geographydetailsrow .detailsrightSec .nodetable table{margin-bottom:0;}
.geographydetailsrow .detailsrightSec .nodetable thead tr th, .geographydetailsrow .detailsrightSec .nodetable tbody tr td{padding:0 8px;line-height:30px;}
.geographydetailsrow .detailsrightSec .nodetable thead tr th{font-weight:700;background-color:rgba(47, 152, 196, 0.7); color:#fff;font-size:16px;letter-spacing:0px;text-align:center;}
.geographydetailsrow .detailsrightSec .nodetable tbody tr td{background-color:rgba(47, 152, 196, 0.7); color:#fff;font-size:14px;letter-spacing:0px;text-align:center;}
.geographydetailsrow .detailsrightSec .nodetablerow form.searchexample{margin-right:2px;}
.nodetable table tbody tr{/*background:#464a4d;*/color:#fff;}
.geographydetailsrow .detailsrightSec .nodetablerow{display:flex;justify-content:space-between;height:45px;align-items:center;}
.geographydetailsrow .detailsrightSec .nodetablerow form.searchexample input[type=text] {padding:6px;font-size:16px;border:1px solid grey;float:left;width:80%;background:#f1f1f1;}

.geographydetailsrow .detailsrightSec .nodetablerow form.searchexample button {float:left;width:20%;padding:6px;background:#2196F3;color:white;font-size:16px;border:1px solid grey;border-left:none;cursor:pointer;}
.geographydetailsrow .detailsrightSec .nodetablerow form.searchexample button:hover {background:#0b7dda;}
.geographydetailsrow .detailsrightSec .nodetablerow form.searchexample::after {content:"";clear:both;display:table;}

/* Boundaries Titile Section */
.boundariesrow .boundariesTitle{font-weight:800;padding-left:15px;font-size:16px;margin:10px 0;}

/* Node Icon Row */
.nodekvrow .nodekvTitle{font-weight:700;font-size:16px;letter-spacing:0;padding-left:15px;margin:10px 0;}
.nodeiconRow{display:flex;flex-wrap:wrap;}
.nodeiconRow .nodeSec{width:100px;}
.nodeiconRow .nodeSec img{margin:0 auto;display:block;}
.nodeiconRow .nodeSec .nodeIconTitle{text-align:center;}

/* Generating Station Row */
.generateStationRowTitle .generateTitle{font-weight:700;font-size:16px;letter-spacing:0;padding-left:15px;margin:10px 0;}
.generateStationRow{display:flex;flex-wrap:wrap;}
.generateStationRow .generateStationSec{width:100px;}
.generateStationRow .generateStationSec img{margin:0 auto;display:block;}
.generateStationRow .generateStationSec .generateIconTitle{text-align:center;}

/* Interconnection Lines Section */
.interconnectionRowTitle .interconnectionTitle{font-weight:700;font-size:16px;letter-spacing:0;padding-left:15px;margin:15px 0 0;}
.interconnectionRow{display:flex;flex-wrap:wrap;}
.interconnectionRow .interconnectionSec{width:100px;margin-bottom:25px;}
.interconnectionRow .interconnectionSec .borderwidth{width:70px;margin:0 auto;}
.interconnectionRow .interconnectionSec .borderwidth hr{margin-top:13px;}
.interconnectionRow .interconnectionSec .borderLine1 hr.lineStyle{border-top:2px solid #D3D3D3;}
.interconnectionRow .interconnectionSec .borderLine2 hr.lineStyle{border-top:2px solid #A9A9A9;}
.interconnectionRow .interconnectionSec .borderLine3 hr.lineStyle{border-top:2px solid #994E16;}
.interconnectionRow .interconnectionSec .borderLine4 hr.lineStyle{border-top:2px solid #3260AB;}
.interconnectionRow .interconnectionSec .borderLine5 hr.lineStyle{border-top:2px solid #009D3E;}
.interconnectionRow .interconnectionSec .borderLine6 hr.lineStyle{border-top:2px solid #E30613;}
.interconnectionRow .interconnectionSec .borderLine7 hr.lineStyle{border-top:2px solid #874027;}
.interconnectionRow .interconnectionSec .borderLine8 hr.lineStyle{border-top:2px solid #009D3E;border-style: dashed;}
.interconnectionRow .interconnectionSec .borderLine9 hr.lineStyle{border-top:2px solid #E30613;border-style:dashed;}
.interconnectionRow .interconnectionSec .borderLine10 hr.lineStyle{border-top:2px solid #874027;border-style:dashed;}
.interconnectionRow .interconnectionSec .borderLine11 hr.lineStyle{border-top:2px solid #E30613;}
.interconnectionRow .interconnectionSec .borderLine12 hr.lineStyle{border-top:2px solid #A51881;}
.interconnectionRow .interconnectionSec .borderLine13 hr.lineStyle{border-top:2px solid #5BC5F2;}
.interconnectionRow .interconnectionSec .interconnectionTitle{text-align:center;}
.popup-table tr:nth-child(even) {background: #82d1f7;}
.popup-table tr:nth-child(odd) {background: #ffbd03b5}
.popup-table td, th {padding: 5px;line-height: 20px;border: 2px solid #000;}

/*hamburger*/
.btn1, .btn2 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0px;
    left: 0px;
    transition-duration: 0.5s;
}
.btn2{
    top: 13px;
    left: auto;
    right: 0px;
}
.btn1 .icon-left, .btn2 .icon-left {
    transition-duration: 0.5s;
    position: absolute;
    height: 5px;
    width: 20px;
    top: 20px;
    background-color: #212121;
    left: 0px;
}
.btn1 .icon-left:before, .btn2 .icon-left:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: #212121;
    content: "";
    top: -10px;
}
.btn1 .icon-left:after , .btn2 .icon-left:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: #212121;
    content: "";
    top: 10px;
}
.btn1 .icon-left:hover , .btn2 .icon-left:hover{
    cursor: pointer;
}
.btn1 .icon-right , .btn2 .icon-right {
    transition-duration: 0.5s;
    position: absolute;
    height: 5px;
    width: 20px;
    top: 20px;
    background-color: #212121;
    left: 20px;
}
.btn1 .icon-right:before , .btn2 .icon-right:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: #212121;
    content: "";
    top: -10px;
}
.btn1 .icon-right:after , .btn2 .icon-right:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: #212121;
    content: "";
    top: 10px;
}
.btn1.open .icon-left , .btn2.open .icon-left {
    transition-duration: 0.5s;
    background: transparent;
}
.btn1.open .icon-left:before , .btn2.open .icon-left:before {
    transform: rotateZ(45deg) scaleX(1) translate(4px, 0px);
}
.btn1.open .icon-left:after, .btn2.open .icon-left:after {
    transform: rotateZ(-45deg) scaleX(1) translate(4px, 0px);
}
.btn1.open .icon-right, .btn2.open .icon-right {
    transition-duration: 0.5s;
    background: transparent;
}
.btn1.open .icon-right:before,.btn2.open .icon-right:before {
    transform: rotateZ(-45deg) scaleX(1) translate(-4px, 0px);
}
.btn1.open .icon-right:after ,.btn2.open .icon-right:after {
    transform: rotateZ(45deg) scaleX(1) translate(-4px, 0px);
}
.btn1:hover,.btn2:hover {
    cursor: pointer;
}

/* ===================================================================
                  Responsive CSS
======================================================================*/
@media screen and (min-width:981px) and (max-width:1024px) {
  .userdropdown ul.dropdown-menu{width:260px;}
}
@media screen and (min-width:768px) and (max-width:980px) {
  header{flex-direction:column;}
  header .logosec{display:flex;justify-content:center;margin-top:10px;}
  header.headrow .headingsec h4{text-align:center;}
  header.headrow .headingsec h1{font-weight:700;font-size:26px;text-align:center;}
  header.headrow .usersec h4{text-align:center;}

  /* Map tab section to remove position */
   .map-container #map{min-height:550px;}
   .loadDespatchRow .selectbtns{position:relative;left:0;top:10px;padding-left:20px;}
   .loadDespatchRow .geographydetailsrow{position:relative;right:0;top:7px;left:0;padding-left:20px;}
  /* Map tab section to remove position end */
  .container-fluid.headrow .userdropdown ul.dropdown-menu {border-radius: 4px;box-shadow: none;margin-top: 20px;width:300px;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);margin-top: 45px;margin-bottom:20px;}
   .userdropdown ul.dropdown-menu:before {content:"";top:-8px;}
   .userdropdown ul.dropdown-menu:after{content: "";top:-12px;}
   .usersec ul.usernav > li.userdropdown{margin-bottom:10px;float:left;}
   .usersec ul.usernav li.userdropdown > a{padding-bottom:0;}

  .geographydetailsrow .rightcollapsebtn{justify-content:flex-start;margin-top:20px;}
  .geographydetailsrow .detailsrightSec h2.geography-title{font-weight:700;font-size:24px;padding-left:10px;margin-bottom:10px;}
  .geographydetailsrow .detailsrightSec .toptable thead tr th{font-size:18px;}
  .geographydetailsrow .detailsrightSec .toptable tbody tr td{font-size:16px;font-weight:600;height:35px;line-height:35px;}


  .geographydetailsrow .detailsrightSec{max-height:100%;overflow-y:auto;}
  /*.geographydetailsrow .detailsrightSec .nodetablerow{flex-direction:column;height:auto;}*/
  .geographydetailsrow .detailsrightSec .nodetablerow h2.nodes-title{font-weight:700;font-size:24px;margin-left:10px;margin-bottom:10px;border:none;}
  .geographydetailsrow .detailsrightSec .nodetablerow form.searchexample{margin:10px;}
  .geographydetailsrow .detailsrightSec .nodetablerow form.searchexample input[type=text]{padding:6px;font-size:14px;}
  .geographydetailsrow .detailsrightSec .nodetablerow form.searchexample button{padding:6px;font-size:14px;}
  .geographydetailsrow .detailsrightSec .nodetable thead tr th{font-size:16px;letter-spacing:0;}
  .geographydetailsrow .detailsrightSec .nodetable tbody tr td{font-size:14px;letter-spacing:0;}
}

@media screen and (max-width:767px) {
  header{flex-direction:column;}
  header .logosec{display:flex;justify-content:center;margin-top:10px;}
  header.headrow .headingsec h4{text-align:center;}
  header.headrow .headingsec h1{font-weight:700;font-size:26px;text-align:center;}
  header.headrow .usersec h4{text-align:center;}
  
  /* Map tab section to remove position */
   .map-container #map{min-height:400px;}
   .loadDespatchRow .selectbtns{position:relative;left:0;top:10px;padding-left:20px;}
   .loadDespatchRow .geographydetailsrow{position:relative;right:0;top:7px;left:0;padding-left:20px;}
  /* Map tab section to remove position end */
  .container-fluid.headrow .userdropdown ul.dropdown-menu {border-radius: 4px;box-shadow: none;margin-top: 20px;width:300px;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);margin-top: 45px;margin-bottom:20px;}
   .userdropdown ul.dropdown-menu:before {content:"";top:50px;}
   .userdropdown ul.dropdown-menu:after{content: "";top:47px;}
   .usersec ul.usernav > li.userdropdown{margin-bottom:10px;}
   .usersec ul.usernav li.userdropdown > a{padding-bottom:0;}

  .geographydetailsrow .rightcollapsebtn{justify-content:flex-start;margin-top:20px;}
  .geographydetailsrow .detailsrightSec h2.geography-title{font-weight:700;font-size:24px;padding-left:10px;margin-bottom:10px;}
  .geographydetailsrow .detailsrightSec .toptable thead tr th{font-size:18px;}
  .geographydetailsrow .detailsrightSec .toptable tbody tr td{font-size:16px;font-weight:600;height:35px;line-height:35px;}


  .geographydetailsrow .detailsrightSec{max-height:100%;overflow-y:auto;}
  .geographydetailsrow .detailsrightSec .nodetablerow{flex-direction:column;height:auto;}
  .geographydetailsrow .detailsrightSec .nodetablerow h2.nodes-title{font-weight:700;font-size:24px;margin-left:10px;margin-bottom:10px;border:none;}
  .geographydetailsrow .detailsrightSec .nodetablerow form.searchexample{margin:10px;}
  .geographydetailsrow .detailsrightSec .nodetablerow form.searchexample input[type=text]{padding:6px;font-size:14px;}
  .geographydetailsrow .detailsrightSec .nodetablerow form.searchexample button{padding:6px;font-size:14px;}
  .geographydetailsrow .detailsrightSec .nodetable thead tr th{font-size:16px;letter-spacing:0;}
  .geographydetailsrow .detailsrightSec .nodetable tbody tr td{font-size:14px;letter-spacing:0;}


}