body{
	font-family: arial, sans-serif;
	background: whitesmoke;
}
h1{
	font-family: arial;
	color: darkcyan;
}
h2{
	font-family: arial;
	color: darkcyan;
	padding-left: 15em;
	padding-right: 1em;
	margin: 1em;
}
nav a:visited{
	color: darkcyan;
}
nav a:link{
	color: darkcyan;
	text-decoration: none;
}
a:link{
	color: coral;
}
a:visited{
	color: darkred;
}
a:hover{
	color: darkcyan;
	font-size: x-large;
}
p{
	color: black;
	font-family: ariel, sans-serif;
	font-size: medium;
	margin-left: 5em;
	margin-right: 5em;
	margin-bottom: 1em;
}
div{
	background-color: white;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 1em;
	padding: 2em;
}
nav{
	background-color: lightcyan;
	height: 25%;
	padding: 2%;
	margin: 2%;
	border: solid;
	border-width: 3px;
	border-color: darkcyan;
	position: fixed;
	right: 81%;
	left: 6%;
}
nav ul{
	list-style-type: none;
	padding: 5%;
	margin: 5%;
}
nav li{
	padding: 15%;
	padding-left: 0%;
}

#info p{
	font-family: monospace;
	font-size:large;
	color: black;
}
#skills p{
	color: darkolivegreen;
	margin-left: 1em;
}
#projects p{
	color: darkolivegreen;
	margin-left: 1em;
}
