body{
	font-family: arial, sans-serif;
	background: whitesmoke;
}
h1{
	font-family: arial;
	color: darkcyan;
}
h2{
	font-family: arial;
	color: darkcyan;
	padding-left: 40%;
	padding-right: 1em;
	margin: 1em;
}
nav a:visited{
	color: darkcyan;
}
nav a:link{
	color: darkcyan;
	text-decoration: none;
}
a:link{
	color: coral;
}
a:visited{
	color: darkred;
}
a:hover{
	color: darkcyan;
	font-size: 150%;
}
p{
	color: black;
	font-family: arial, sans-serif;
	font-size: 100%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 1em;
}
div{
	background-color: white;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 1em;
	padding: 2em;
}

nav{
	background-color: lightcyan;
	height: 25%;
	padding: 2%;
	padding-left: 1%;
	margin: 1%;
	border: solid;
	border-width: 0.2em;
	border-color: darkcyan;
	position: fixed;
	right: 81%;
	left: 6%;
}
nav ul{
	list-style-type: none;
	padding: 5%;
	margin: 5%;
}
nav li{
	padding: 15%;
	padding-left: 0%;
}


@media (max-width: 1200px) {
	nav{
        background-color: lightcyan;
        height: 3%;
        padding: 1%;
        padding-top: 0;
        margin: 1%;
        margin-top: 0;
        border: solid;
        border-width: 0.2em;
        border-color: darkcyan;
        position: fixed;
        right: 5%;
        left: 5%;
        top: 0%;
    }
    nav ul{
        list-style-type: none;
        vertical-align: middle;
        padding: 0;
        margin: 1%;
        margin-top: 0;
    }
    nav li{
        display: inline-block;
        padding: 1%;
    }

    div{
		background-color: white;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 1em;
		padding: 1em;
	}
}

#info p{
	font-family: sans-serif;
	font-size: 100%;
	color: black;
}
#skills p{
	color: darkolivegreen;
	margin-left: 1em;
}
#projects p{
	color: darkolivegreen;
	margin-left: 1em;
}
